[manifest]
version = "1.0.0"
dump_lua = true
priority = -1

[[patches]]
[patches.pattern]
target = 'functions/misc_functions.lua'
pattern = '''
G.PITCH_MOD = (G.PITCH_MOD or 1)*(1 - dt) + dt*((not G.normal_music_speed and G.STATE == G.STATES.GAME_OVER) and 0.5 or 1)
'''
position = "before"
payload = '''
if G.GAME and G.GAME.mktjk_soundtracks_played and desired_track ~= "" then
    G.GAME.mktjk_soundtracks_played[desired_track] = true
end
'''
match_indent = true